[Unit]
Description=CANedge Grafana Backend service v2
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=/home/ubuntu/canedge-grafana-backend/env/bin/python3 -u /home/ubuntu/canedge-grafana-backend/canedge_datasource_cli.py file:////home/ubuntu/canedge-grafana-backend/LOG --port 8080

[Install]
WantedBy=multi-user.target