[Unit]
Description=CANedge Grafana Backend service
After=network.target
StartLimitIntervalSec=0
[Service]
Type=simple
Restart=always
RestartSec=1
User=ubuntu
ExecStart=python3 canedge_datasource_cli.py file:///$PWD/LOG --port 8080

[Install]
WantedBy=multi-user.target